html {
  font-family: sans-serif;
}

.arena, .offer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.player, .enemy {
  display: flex;
  flex-direction: column;
}

.player > .name, .enemy > .name {
  font-weight: bold;
}

.player > p, .enemy > p {
  margin: 8px;
}

.tool {
  border-left: 1px solid black;
  padding-left: 20px;
  margin: 10px 0px;
  position: relative;
}

.tool .name {
  font-weight: bold;
}

.tool .multiplier {
  position: absolute;
  top: 0px;
  right: 5px;
  font-weight: bold;
  margin: 0;
}

button {
  border: 1px solid black;
  background: white;
  color: black;
  font-size: 16px;
  cursor: pointer;
}

button:disabled {
  background: #CCC;
  color: #666;
  cursor: auto;
}

.endturn {
  position: fixed;
  top: 16px;
  right: 16px;
}
