.arena {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.player, .enemy {
  display: flex;
  flex-direction: column;
}

.tool {
  border-left: 1px solid black;
  padding: 15px;
}

button {
  border: 1px solid black;
  background: white;
  color: black;
  font-size: 16px;
  cursor: pointer;
}

button:disabled {
  background: #CCC;
  color: #666;
  cursor: auto;
}

.endturn {
  position: fixed;
  top: 16px;
  right: 16px;
}
